*{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
    
}

header{
    position: relative;
    width: 100%;
    height: 66px;
    left: 0px;
    top: 0px;
    background: #1B83E2;
}

h1 {
    position: absolute;
    margin: 24px 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
}

main {
    position: relative;
    background: #E5E5E5;
}